.animate-blink-cursor {
  animation: blink-cursor 1s step-end infinite;
}

@keyframes blink-cursor {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes glitch1 {
          0% { transform: none; opacity: 1; }
          7% { transform: none; opacity: 0.75; }
          10% { transform: none; opacity: 1; }
          27% { transform: none; opacity: 1; }
          30% { transform: none; opacity: 0.75; }
          35% { transform: none; opacity: 1; }
          52% { transform: none; opacity: 1; }
          55% { transform: none; opacity: 0.75; }
          72% { transform: none; opacity: 1; }
          75% { transform: none; opacity: 0.75; }
          100% { transform: none; opacity: 1; }
        }

@keyframes glitch2 {
          0% { transform: none; opacity: 0.25; }
          7% { transform: translate(-2px, 0); opacity: 0.5; }
          10% { transform: none; opacity: 0.25; }
          27% { transform: none; opacity: 0.25; }
          30% { transform: translate(-5px, 0); opacity: 0.5; }
          35% { transform: none; opacity: 0.25; }
          52% { transform: none; opacity: 0.25; }
          55% { transform: translate(-5px, 0); opacity: 0.5; }
          72% { transform: none; opacity: 0.25; }
          75% { transform: translate(-2px, 0); opacity: 0.5; }
          100% { transform: none; opacity: 0.25; }
        }

@keyframes glitch3 {
          0% { transform: none; opacity: 0.25; }
          7% { transform: translate(2px, 0); opacity: 0.5; }
          10% { transform: none; opacity: 0.25; }
          27% { transform: none; opacity: 0.25; }
          30% { transform: translate(5px, 0); opacity: 0.5; }
          35% { transform: none; opacity: 0.25; }
          52% { transform: none; opacity: 0.25; }
          55% { transform: translate(5px, 0); opacity: 0.5; }
          72% { transform: none; opacity: 0.25; }
          75% { transform: translate(2px, 0); opacity: 0.5; }
          100% { transform: none; opacity: 0.25; }
        }

.animate-glitch-1 { animation: glitch1 2.5s infinite; }
.animate-glitch-2 { animation: glitch2 2.5s infinite; }
.animate-glitch-3 { animation: glitch3 2.5s infinite; }
.animate-blink-cursor { animation: blink-cursor 1s step-end infinite; }