@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #000;
  color: #fff;
}

.dark ::selection {
  background-color: #fff;
  color: #000;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
}
.animate-pulse-slow {
  animation: pulse-slow 4s ease-in-out infinite;
}
@keyframes glow-5 {
  0%,
  100% {
    text-shadow: 0 0 5px rgba(57, 255, 20, 0.2);
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 20px rgba(57, 255, 20, 0.8),
      0 0 30px rgba(57, 255, 20, 0.4);
    transform: scale(1.1);
  }
}
.animate-glow-5 {
  animation: glow-5 2s ease-in-out infinite;
}
