@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* Pake !important biar gak kalah sama class bg-white atau bg-zinc-50 di layout */
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #000;
  color: #fff;
}

.dark ::selection {
  background-color: #fff;
  color: #000;
}